.top-container {
  background-color: #839AA8;
  padding-top: 100px;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

h1 {
  color: #354259;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  font-size: 4rem;
  margin-top: 2.6rem;
  margin-bottom: 2.6rem;
  line-height: 2;
}

h2 {
  color: #354259;
  font-family: 'Libre Baskerville', serif;

  font-weight: normal;
  margin-top: 0;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.top-header {
  font-family: 'Sacramento', cursive;
  color: #354259;
  font-size: 5.5rem;
  font-weight: 400;
  margin-bottom: 0;
}

.web-design-icon {

  width: 20%;
  float:left;
  margin-right: 30px;
}

.documentation-icon {

  width: 20%;
  float:right;
    margin-left: 30px;
}

.skill-row{
  width: 50rem;
  margin: 50px auto 0 auto;
  text-align: left;
line-height: 2;
}

 .marianna-img{
   width:15%;
   margin-top: 5rem;
   margin-bottom: 3rem;
 }

 .btn {
  background: #44667a;
  background-image: -webkit-linear-gradient(top, #44667a, #6e9eb8);
  background-image: -moz-linear-gradient(top, #44667a, #6e9eb8);
  background-image: -ms-linear-gradient(top, #44667a, #6e9eb8);
  background-image: -o-linear-gradient(top, #44667a, #6e9eb8);
  background-image: linear-gradient(to bottom, #44667a, #6e9eb8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #143d57;
  background-image: -webkit-linear-gradient(top, #143d57, #153245);
  background-image: -moz-linear-gradient(top, #143d57, #153245);
  background-image: -ms-linear-gradient(top, #143d57, #153245);
  background-image: -o-linear-gradient(top, #143d57, #153245);
  background-image: linear-gradient(to bottom, #143d57, #153245);
  color: #ffffff;
  text-decoration: none;
}
 .bottom-container{
   background-color: #839AA8;
   position: relative;
   bottom: 0;
   margin-top: 5rem;
   height:  10rem;
 }

 .copyright{
   margin-bottom: 0;
   position: relative;
   top: 90px;
   color:#FAF5E4;
   font-size: 0.75rem;

 }

h3{
  color: #5F7161;
}
a{
  color: #FAF5E4;
position: relative;
top: 27px;
margin-left: 20px;
right:7px;
text-decoration: none;
}
a:hover{
  color: #143d57;
}
hr{
  border: none;
  border-top: 5px dotted #73777B;
  width: 5%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
p
{
line-height: 2;
}
